<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>所有图书</title>
</head>
<body>
    <table border="1" cellspacing="0">
        <tr>
            <th>作者</th>
            <th>书名</th>
            <th>分类</th>
            <th>年份</th>
        </tr>
        <tr th:each="classic : ${classics}">
            <td th:text="${classic.author}"></td>
            <td th:text="${classic.title}"></td>
            <td th:text="${classic.category}"></td>
            <td th:text="${classic.year}"></td>
        </tr>
    </table>
</body>
</html>